@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #5350F6, #E662FE);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.gradient-border {
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(45deg, #5350F6, #E662FE) border-box;
    border: 5px solid transparent;
    border-radius: 1rem;
  }
